<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="exServer" value="fsttr02"/>
    <add key="newServer" value="fsttr01"/>
    <add key="winPath" value="C:\ARM STAT 2019\STAT_WIN.INI"/>
    <add key="winPathTTR" value="C:\ARM_STAT_2020\STAT_WIN.INI"/>
    <add key="sourcePath" value="C:\FSTTR01\Resources"/>
    <add key="statDirDctp" value="Арм Стат - ОТЧЕТЫ"/>
    <add key="statDirDctp2" value="Арм Стат ОТЧЕТЫ"/>
  </appSettings>
</configuration>
